body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-color: #F8FFDB;
}
.heading{
    color: #FF6464;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 4px solid #B3FFAE;
}
.paraArea{
    margin-top: 10px;
    color: #FF6464;
    font-weight: 800;
}

.takeValue{
    font-style: italic;
    background-color: #B3FFAE;
    border: 2px solid #FF6464;
    width: 250px;
    height: 30px;
    border-radius: 4px;
}